# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Alex Tuft
email = alex.tuft@outlook.com
[core]
autocrlf = input
editor = nvim
[init]
defaultBranch = main
[alias]
squash = commit --amend --no-edit
rem = commit --amend
[format]
pretty = oneline
[log]
decorate = short
abbrevCommit = true
